
@{
    ViewBag.Title = "Error";
}
<div class="alert-warning">
    <h2>Error</h2>
    The following error occured while trying to produce charts using partial views
    <br />
    @ViewBag.errMsg
</div>
